<section class="section" id="contact">
<h1 class="skills">Contact Me</h1>    
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <h3 class="text-center">
                            Contact Me
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <form [formGroup]="detailForm">
                                    <h3>Feel free to contact me</h3>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-circle-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" formControlName="name" class="form-control inputs" placeholder="Name">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-file-lines"></i>
                                            </span>
                                        </div>
                                        <input type="text" formControlName="subject" class="form-control inputs" placeholder="Subject">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="text" formControlName="email" class="form-control inputs" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="" formControlName="message" class="form-control" placeholder="Massage"></textarea>
                                    </div>
                                    <div class="btn-section">
                                        <div class="btn btn-primary">Send</div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p>
                                        <strong>Phone</strong>
                                    </p>
                                    <p>
                                        <a href="tel:9175563489" class="text-dark">9175563489</a>
                                    </p>
                                    <p>
                                        <strong>Email</strong>
                                    </p>
                                    <p>
                                        <a href="mailto:priyahatkar13@gmail.com" class="text-dark">priyahatkar13@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
