
<section class="profile-section py-5" id="profile">
    <h1 class="skills">Profile</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="about-data">
                            <h3>About</h3>
                            <ul>
                                <li>Front End Developer with 3+ years of experience</li>
                                <li>Expertise in Angular 14, Angular Material, RxJs, Javascript, SASS, CSS3, HTML5 and UI with Responsive Designs</li>
                                <li>Have good understanding of Jquery, Bootstrap, Typescript, Firebase and Postmen</li>
                            </ul>
                        </div>
                        <div class="basic-data">
                            <h3>Basic Information</h3>
                            <div class="row py-3">
                                <div class="col-sm-4">
                                    <strong>EMAIL :</strong>
                                </div>
                                <div class="col-sm-8">
                                    <a class="text-dark fontSize" href="mailto:priyahatkar13@gmail.com">priyahatkar13@gmail.com</a>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-sm-4">
                                    <strong>PHONE :</strong>
                                </div>
                                <div class="col-sm-8">
                                    <a class="text-dark fontSize" href="tel:9175563489">9175563489</a>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-sm-4">
                                    <strong>ADDRESS :</strong>
                                </div>
                                <div class="col-sm-8 fontSize">
                                    Ambedkar Nagar, Kaleshwar Road, Vishnupueri, Nanded
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-sm-4 pr-0">
                                    <strong>LANGUAGE:</strong>
                                </div>
                                <div class="col-sm-8 fontSize">
                                    Marathi, Hindi, English
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
