

<section class="profile-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="card-info">
                    <img src="./../../../../assets/image/users.png" class="img-fluid" title="user" alt="user">
                </div>
                <div class="card-Details text-white py-5">
                    <h1 class="priHaeding">
                        Priya Hatkar
                    </h1>
                    <div class="secHeading pt-2">
                        <h3>Angular Developer</h3>
                        <span></span>
                        <h3>Front End Developer</h3>
                    </div>
                    <div class="dataInfo py-3">
                        <button class="btn btnContact mx-4">Contact Me</button>
                        <button class="btn btnCv">Download CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!-- <section>
    <div class="d-flex position-relative">
        <div class="color-section"></div>
        <div class=""></div>
    </div>
    <div class="card my-3">
        <div class="row d-xl-flex">
            <div class="col-md-5 infos p-0">
                <div class="info text-center">
                    <img src="./../../../../assets/image/users.png" class="img-fluid rounded-circle" alt="">
                    <h1 class="my-4 pHeading ">Priya Hatkar</h1>
                    <p class="short-border"></p>
                    <h3>Angular Developer</h3>
                </div>
                <div class="d-flex justify-content-center bg-white">
                    <a href="https://linkedin.com/in/priya-hatkar-31ab65299" target="_blank" class="py-2 social-icon mx-2">
                        <img src="./../../../../assets/image/linkedin.png" alt="linkedin" class="img-fluid" title="linkedin">
                    </a>
                    <a href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank" class="py-2 social-icon mx-2">
                        <img src="./../../../../assets/image/nokari.jpg" alt="naukri" class="img-fluid" title="naukri">
                    </a>
                    <a href="https://in.indeed.com/?from=gnav-homepage" target="_blank" class="py-2 social-icon mx-2">
                        <img src="./../../../../assets/image/indeed.png" alt="indeed" class="img-fluid" title="indeed">
                    </a>
                    <a href="https://www.foundit.in/user" target="_blank" class="py-2 social-icon mx-2">
                        <img src="./../../../../assets/image/monster.png" title="monster" class="img-fluid" alt="monster">
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="information  p-2">
                    <h1 class="heading">Hello</h1>
                    <h3>CSM Tech Corp India</h3>
                    <div class="icon-btn my-5">
                        <a href="./../../../../assets/image/Priya Hatkar-1-2.pdf" class="btn fBtn" download>Download Resume</a>
                        <a href="" class="btn sBtn">Hire Me</a>
                    </div>
                    <p>
                        Hello there! 👋 I'm Priya, a dedicated and creative Frontend Developer with a solid background in HTML5, CSS3, JavaScript, TypeScript, and Angular. For the past three years, I've been contributing my skills and expertise at CSM Tech Corp India. Successfully implemented and maintained responsive and user-friendly web applications. Contributed to the development of the various projects.
                    </p>
                </div>
            </div>
        </div>
    </div> 
</section> -->

<!-- <div class="card">
    <div class="card-details">
        <div class="card-info">

        </div>
        <div class="card-infos"></div>
    </div>
</div> -->