<nav class="mainNav navbar fixed-top p-0 navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="##">
        <img src="./../../../../assets/image/logo.png" alt="logo" title="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="onNavbarOpen(nav)">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" #nav id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="socialBrand">
                <a class="socialBrands" href="#profile">profile <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="socialBrand">
                <a href="#edSection" class="socialBrands">education</a>
            </li>
            <li class="socialBrand">
                <a href="#workSections" class="socialBrands">experience</a>
            </li>
            <li class="socialBrand">
                <a class="socialBrands" href="#skillSection">skills</a>
            </li>
            <li class="socialBrand">
                <a class="socialBrands" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>



