<div class="workSection py-4" id="workSections">
    <h1 class="skills">WORK EXPERIENCE</h1> 
    <div class="container">
        <div class="row py-3">
            <div class="col-md-8 offset-md-2">
                <div class="workInfos">
                    <div class="workInfo">
                        <h3 class="textPrimary">Angular Developer</h3>
                        <h3 class="textPrimary">Feb 2023 to Present</h3>
                    </div>
                    <div class="workInfo">
                        <h3 class="textSec">CSM Tech Corp India.</h3>
                        <h3 class="textSec">Nizamabad, India</h3>
                    </div>
                    <div class="proDetail">
                        <h4>Project :</h4>
                        <h4>Innovators Electric</h4>
                    </div>
                    <div class="proDetail">
                        <h4>Project:</h4>
                        <p class="mx-2">Contributed in the development of the user interface for the Customer Enquiry module, ensuring a 
                            seamless and user-friendly experience. The major products include electric wires and cables, electric motors, industrial 
                            and street lighting, etc. It also helps customers get the best product with the best offer, allowing them to easily compare 
                            product features and prices and choose the best one.</p>
                    </div>
                    <div class="resDetail ml-5">
                        <h4 class="m-0">• Roles and Responsibility:</h4>
                        <div class="paraInfo ml-5">
                            <p>- Developed a various modules using Angular 10.</p>
                        <p>- Created a reactive form for the customer enquiry service.</p>
                        <p>- Used HTTP API module for data binding in application.</p>
                        <p>- Implemented real-time data updates for the various products.</p>
                        <p>- According to the client's requirement, made necessary changes in the code without affecting the code.</p>
                        <p>- Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs and 
                            enhancements</p>
                        <p>- We have received the positive feedback from the clients, leading to a 15% increase in user engagement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-8 offset-md-2">
                <div class="workInfos">
                    <div class="workInfo">
                        <h3 class="textPrimary">Front-End Developer</h3>
                        <h3 class="textPrimary">Dec 2021 to Feb 2023</h3>
                    </div>
                    <div class="workInfo">
                        <h3 class="textSec">CSM Tech Corp India.</h3>
                        <h3 class="textSec">Nizamabad, India</h3>
                    </div>
                    <div class="proDetail">
                        <h4>Project :</h4>
                        <h4>Business Autopilots</h4>
                    </div>
                    <div class="proDetail">
                        <h4>Project:</h4>
                        <p class="mx-2"> Worked with Business Autopilots which helped customer to develop their business and increase 
                            customer base by providing various business strategies. Expert business development executive was involved to provide 
                            business solution to the customer.</p>
                    </div>
                    <div class="resDetail ml-5">
                        <h4 class="m-0">• Roles and Responsibility:</h4>
                        <div class="paraInfo ml-5">
                            <p>- Created the architectural high level and low-level design.</p>
                        <p>- Collaborated with project managers to select ambitious, but realistic coding milestones on pre-release software 
                            project development.</p>
                        <p>- Coordinate with a team of UX and UI developers to build quality web-applications with cross-browser 
                            compatibility.
                            </p>
                        <p>- Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs and 
                            enhancements.
                            </p>
                        <p>- Used Fetch APIs for communication with backend and database and also created interactions using JavaScript.
                        </p>
                        <p>- Developed application for both desktop and mobile operating systems.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-8 offset-md-2">
                <div class="workInfos">
                    <div class="workInfo">
                        <h3 class="textPrimary">Application Support Engineer</h3>
                        <h3 class="textPrimary">Jan 2021 toDec 2021</h3>
                    </div>
                    <div class="workInfo">
                        <h3 class="textSec">CSM Tech Corp India.</h3>
                        <h3 class="textSec">Nizamabad, India</h3>
                    </div>
                    <div class="resDetail ml-5">
                        <h4 class="m-0">• Roles and Responsibility:</h4>
                        <div class="paraInfo ml-5">
                            <p>- Update the content to the standard template as per the copy doc provided by the client.
                            </p>
                        <p>- Need to raise the ticket if any additional module needs to be added to the standard template.</p>
                        <p>- Once the content updated to the template, verify the content as per the doc and generate the preview with client.
                            </p>
                        <p>- Once we get the final approval from the client, need to publish the template
                            </p>
                        <p>- Trained to junior tech support engineers.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
