

.iconImage{
    p{
        height: 20px !important;
        width: 20px !important;
        a{
            height: 20px !important;
            width: 20px !important;
            .social-icon{
                height: 100%;
                width: 100%;
            }
        }
    }
}
a:hover{
    text-decoration: none;
}