
<section class="footer py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="footer-section">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p>
                                <strong>Call</strong>
                            </p>
                            <p>
                                <a class="text-dark" href="telto:9175563489">9175563489</a>
                            </p>
                        </div>
                        <div class="col-md-6 text-center">
                            <p>
                                <strong>Email</strong>
                            </p>
                            <p>
                                <a href="mailto:priyahatkar13@gmail.com" class="text-dark">priyahatkar13@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <div class="col-md-4 text-center">
    <p>Follow</p>
    <div class="iconImage d-flex justify-content-around align-items-center">
        <p>
            <a href="https://linkedin.com/in/priya-hatkar-31ab65299" target="_blank" class="py-2 social-icon mx-2">
                <img src="./../../../../assets/image/linkedin.png" alt="linkedin" class="img-fluid" title="linkedin">
            </a>
        </p>
        <p> 
            <a href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank" class="py-2 social-icon mx-2">
                <img src="./../../../../assets/image/nokari.jpg" alt="naukri" class="img-fluid" title="naukri">
            </a>
        </p>
        <p>
            <a href="https://in.indeed.com/?from=gnav-homepage" target="_blank" class="py-2 social-icon mx-2">
                <img src="./../../../../assets/image/indeed.png" alt="indeed" class="img-fluid" title="indeed">
            </a>
        </p>
        <p>
            <a href="https://www.foundit.in/user" target="_blank" class="py-2 social-icon mx-2">
                <img src="./../../../../assets/image/monster.png" title="monster" class="img-fluid" alt="monster">
            </a>
        </p>
    </div>
</div> -->